.left-wrapper
  = render "shared/side_bar"
.right-wrapper
  .header
    .header__box
      .header__box__info
        %p.header__box__info__title
          = @group.name
        %span.header__box__info__member-list Member：
        %ul.header__box__info__member-list
          - @group.users.each do |user|
            %li
              = user.name
      = link_to edit_group_path(@group.id), class: "header__box__edit-btn" do
        %span Edit
  .message-container
    = render @messages
  = form_for [@group, @message], name: "messageform" do |f|
    .form
      .form__box
        = f.text_field :content, placeholder: "type a message", class: "form__box__text"
        = f.label :image, class: "form__box__icon" do
          %i.fa.fa-image
          = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "form__submit-btn"
