.account
  .account__box
    %span.account__box__name
      = current_user.name
    %ul.account__box__menu
      %li
        = link_to new_group_path do
          %i.fa.fa-edit
      %li.account__box__menu
        = link_to edit_user_path(current_user) do
          %i.fa.fa-cog
.group-container
  - current_user.groups.each do |group|
    = link_to group_messages_path(group) do
      .group
        %p.group__title
          = group.name
        %p.group__new-message
          = group.show_last_message
